In [1]:
import pandas as pd

In [2]:
electricity_producion = pd.read_csv('data/Electricity_Production_By_Source.csv')

In [50]:
electricity_producion.rename(columns={'Electricity from coal (TWh)'     :  'Electricity_from_coal_TWh', 
                                      'Electricity from gas (TWh)'      :  'Electricity_from_gas_TWh',
                                      'Electricity from hydro (TWh)'    :  'Electricity_from_hydro_TWh',
                                      'Electricity from other renewables (TWh)': 'Electricity_from_other_renewables_TWh',
                                      'Electricity from solar (TWh)'    :  'Electricity_from_solar_TWh',
                                      'Electricity from oil (TWh)'      :  'Electricity_from_oil_TWh',
                                      'Electricity from wind (TWh)'     :  'Electricity_from_wind_TWh',
                                      'Electricity from nuclear (TWh)'  :  'Electricity_from_nuclear_TWh'}, 
                             inplace=True)

In [51]:
electricity_producion.shape, electricity_producion.columns

((6241, 11),
 Index(['Entity', 'Code', 'Year', 'Electricity_from_coal_TWh',
        'Electricity_from_gas_TWh', 'Electricity_from_hydro_TWh',
        'Electricity_from_other_renewables_TWh', 'Electricity_from_solar_TWh',
        'Electricity_from_oil_TWh', 'Electricity_from_wind_TWh',
        'Electricity_from_nuclear_TWh'],
       dtype='object'))

<ul>
    <li>Entity                                     (País)</li>
    <li>Code                                       (Código País)</li>
    <li>Year                                       (Ano)</li>
    <li>Electricity from coal (TWh)                (por Carvão)</li>
    <li>Electricity from gas (TWh)                 (por Gás)</li>
    <li>Electricity from hydro (TWh)               (por Hidro ou água)</li>
    <li>Electricity from other renewables (TWh)    (por outras energias renováveis)</li>
    <li>Electricity from solar (TWh)               (por Solar)</li>
    <li>Electricity from oil (TWh)                 (por Óleo ou Petróleo)</li>
    <li>Electricity from wind (TWh)                (por Vento)</li>
    <li>Electricity from nuclear (TWh)             (Nuclear)</li>
</ul>

In [52]:
electricity_producion

,Entity,Code,Year,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

In [53]:
electricity_producion.isnull().sum()

Entity                                      0
Code                                      767
Year                                        0
Electricity_from_coal_TWh                1020
Electricity_from_gas_TWh                 1020
Electricity_from_hydro_TWh                  0
Electricity_from_other_renewables_TWh      35
Electricity_from_solar_TWh                  0
Electricity_from_oil_TWh                 1020
Electricity_from_wind_TWh                   0
Electricity_from_nuclear_TWh                0
dtype: int64

In [47]:
#mask = electricity_producion.isnull().any(axis=1)
#electricity_producion[mask].Code.head(200)

#electricity_producion.iloc[:,3:].describe()

#electricity_producion.Entity.value_counts(dropna=True)

In [68]:
#selected_rows = electricity_producion[electricity_producion.isnull().any(axis=1)]

selected_rows = electricity_producion[electricity_producion['Electricity_from_coal_TWh'].isna()]

In [84]:
electricity_producion.loc[electricity_producion['Entity']=='Algeria', 'Electricity_from_hydro_TWh']

75     0.05300
76     0.06800
77     0.05600
78     0.26200
79     0.24800
80     0.54900
81     0.21600
82     0.22400
83     0.28000
84     0.30300
85     0.17200
86     0.49700
87     0.61600
88     0.32700
89     0.25100
90     0.14400
91     0.21582
92     0.05544
93     0.11583
94     0.10644
95     0.64600
96     0.25000
97     0.49900
98     0.18300
99     0.22600
100    0.13500
101    0.29300
102    0.19900
103    0.35300
104    0.16600
105    0.19300
106    0.13500
107    0.07500
108    0.21500
109    0.20300
Name: Electricity_from_hydro_TWh, dtype: float64

In [86]:
electricity_producion.query('Entity == "Algeria"')['Electricity_from_hydro_TWh'].mean()

0.24372942857142854