In [1]:
import pandas as pd

In [32]:
# Quem tende consumir mais energia limpa
electricity_producion = pd.read_csv('data/Electricity_Production_By_Source.csv')

In [33]:
electricity_producion.rename(columns={'Electricity from coal (TWh)'     :  'Electricity_from_coal_TWh', 
                                      'Electricity from gas (TWh)'      :  'Electricity_from_gas_TWh',
                                      'Electricity from hydro (TWh)'    :  'Electricity_from_hydro_TWh',
                                      'Electricity from other renewables (TWh)': 'Electricity_from_other_renewables_TWh',
                                      'Electricity from solar (TWh)'    :  'Electricity_from_solar_TWh',
                                      'Electricity from oil (TWh)'      :  'Electricity_from_oil_TWh',
                                      'Electricity from wind (TWh)'     :  'Electricity_from_wind_TWh',
                                      'Electricity from nuclear (TWh)'  :  'Electricity_from_nuclear_TWh'}, 
                             inplace=True)

In [4]:
electricity_producion.shape, electricity_producion.columns

((6241, 11),
 Index(['Entity', 'Code', 'Year', 'Electricity_from_coal_TWh',
        'Electricity_from_gas_TWh', 'Electricity_from_hydro_TWh',
        'Electricity_from_other_renewables_TWh', 'Electricity_from_solar_TWh',
        'Electricity_from_oil_TWh', 'Electricity_from_wind_TWh',
        'Electricity_from_nuclear_TWh'],
       dtype='object'))

<ul>
    <li>Entity                                     (País)</li>
    <li>Code                                       (Código País)</li>
    <li>Year                                       (Ano)</li>
    <li>Electricity from coal (TWh)                (por Carvão)</li>
    <li>Electricity from gas (TWh)                 (por Gás)</li>
    <li>Electricity from hydro (TWh)               (por Hidro ou água)</li>
    <li>Electricity from other renewables (TWh)    (por outras energias renováveis)</li>
    <li>Electricity from solar (TWh)               (por Solar)</li>
    <li>Electricity from oil (TWh)                 (por Óleo ou Petróleo)</li>
    <li>Electricity from wind (TWh)                (por Vento)</li>
    <li>Electricity from nuclear (TWh)             (Nuclear)</li>
</ul>

In [26]:
electricity_producion.head(5)

,Entity,Year,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
0,Afghanistan,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [27]:
electricity_producion.tail(5)

,Entity,Year,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
6236,Zimbabwe,2015,4.311780,0.0,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,2016,3.714880,0.0,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,2017,3.218560,0.0,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,2018,3.932020,0.0,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,2019,3.805433,0.0,5.020,0.206667,0.014,0.0,0.0,0.0

## Limpando os Dados

### Preenchendo os nulos

In [17]:
electricity_producion.shape, electricity_producion.isnull().sum()

((6241, 10),
 Entity                                   0
 Year                                     0
 Electricity_from_coal_TWh                0
 Electricity_from_gas_TWh                 0
 Electricity_from_hydro_TWh               0
 Electricity_from_other_renewables_TWh    0
 Electricity_from_solar_TWh               0
 Electricity_from_oil_TWh                 0
 Electricity_from_wind_TWh                0
 Electricity_from_nuclear_TWh             0
 dtype: int64)

In [34]:
electricity_producion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6241 entries, 0 to 6240
Data columns (total 11 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Entity                                 6241 non-null   object
 1   Code                                   5474 non-null   object
 2   Year                                   6241 non-null   int64
 3   Electricity_from_coal_TWh              5221 non-null   float64
 4   Electricity_from_gas_TWh               5221 non-null   float64
 5   Electricity_from_hydro_TWh             6241 non-null   float64
 6   Electricity_from_other_renewables_TWh  6206 non-null   float64
 7   Electricity_from_solar_TWh             6241 non-null   float64
 8   Electricity_from_oil_TWh               5221 non-null   float64
 9   Electricity_from_wind_TWh              6241 non-null   float64
 10  Electricity_from_nuclear_TWh           6241 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 536.5+ KB

In [35]:
# INPUTAÇÃO - Atribuindo valor 0 aos valores NaN (ausentes)
electricity_producion['Electricity_from_coal_TWh'].fillna( 0 , inplace=True) # Atualiza Informação
electricity_producion['Electricity_from_gas_TWh'].fillna(  0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_hydro_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_other_renewables_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_solar_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_oil_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_wind_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_nuclear_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação

In [36]:
#Exclui atributo categório
electricity_producion.drop (columns=['Code'], inplace=True)

In [23]:
# Descreve DataFrame
electricity_producion.iloc[:,2:].describe()

,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
count,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000
mean,119.506384,63.137545,53.165487,5.818491,2.014825,21.843347,6.316172,46.874202
std,653.767501,314.940881,257.725337,32.246281,21.726406,101.273813,51.570081,227.223144
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.018000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.002458,1.957000,0.009000,0.000000,0.362000,0.000000,0.000000
75%,8.607580,16.258000,14.061000,0.673000,0.009000,5.360034,0.049057,0.000000
max,9345.340997,5943.112329,4355.041636,702.887552,844.385951,1364.578206,1590.189440,2720.674471

In [14]:
electricity_producion.groupby(['Year']).size().reset_index(name='counts')

    Year  counts
0   1985      96
1   1986      96
2   1987      96
3   1988      96
4   1989      96
5   1990      99
6   1991      99
7   1992      99
8   1993      99
9   1994      99
10  1995      99
11  1996      99
12  1997      99
13  1998      99
14  1999      99
15  2000     235
16  2001     235
17  2002     235
18  2003     235
19  2004     235
20  2005     235
21  2006     235
22  2007     235
23  2008     235
24  2009     235
25  2010     235
26  2011     235
27  2012     235
28  2013     235
29  2014     235
30  2015     235
31  2016     235
32  2017     235
33  2018     235
34  2019     235
35  2020      71

In [169]:
#mask = electricity_producion.isnull().any(axis=1)
#electricity_producion[mask].Code.head(200)

#electricity_producion.iloc[:,3:].describe()

#electricity_producion.Entity.value_counts(dropna=True)

In [164]:
#selected_rows = electricity_producion[electricity_producion.isnull().any(axis=1)]

#selected_rows = electricity_producion[electricity_producion['Electricity_from_coal_TWh'].isna()]

In [18]:
#electricity_producion.loc[electricity_producion['Entity']=='Algeria', 'Electricity_from_hydro_TWh']

In [16]:
#electricity_producion.groupby(['Entity']).size().reset_index(name='counts')

In [17]:
# Dando update nos valores da coluna Code
#electricity_producion.update(electricity_producion['Code'].fillna(1))

In [51]:
# Contanto ocorrências de idade média
#electricity_producion['Entity'].loc[electricity_producion['Entity'] == 'Brazil'].count()

In [177]:
frames = []

#country = pd.Series( (v[0] for v in [['Afghanistan'],['Africa']]) ) 
country = electricity_producion.groupby(['Entity']).size().reset_index(name='counts')['Entity']

def particion( value ):
    print('Entrou')
    table = electricity_producion.query('Entity == "{0}"'.format(value)) # Particiona Dataframe
    print(table)
    if table.empty == False: # Se o DataFrame não for vazio
        table['Electricity_from_coal_TWh'].fillna( round(table['Electricity_from_coal_TWh'].mean() , 3) , inplace=True) # Atualiza Informação
        table['Electricity_from_gas_TWh'].fillna(  round(table['Electricity_from_gas_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_hydro_TWh'].fillna( round(table['Electricity_from_hydro_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_other_renewables_TWh'].fillna( round(table['Electricity_from_other_renewables_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_solar_TWh'].fillna( round(table['Electricity_from_solar_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_oil_TWh'].fillna( round(table['Electricity_from_oil_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_wind_TWh'].fillna( round(table['Electricity_from_wind_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_nuclear_TWh'].fillna( round(table['Electricity_from_nuclear_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        frames.append(table) # Copia a lista
        del table # Exclui partição 
        
        
list(map(particion, country))

electricity_producion_general = pd.concat(frames)    
frames.clear()