In [3]:
!pip install numpy --upgrade

Collecting numpy
  Downloading https://files.pythonhosted.org/packages/f1/ef/df6ce4d461fa592ae88bd271c3c944f428a2029840ae63ef3e3cd5ef4fde/numpy-1.21.3-cp37-cp37m-win_amd64.whl (14.0MB)
Installing collected packages: numpy
  Found existing installation: numpy 1.16.5
    Uninstalling numpy-1.16.5:
Note: you may need to restart the kernel to use updated packages.

ERROR: yellowbrick 1.3.post1 has requirement numpy<1.20,>=1.16.0, but you'll have numpy 1.21.3 which is incompatible.
ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Acesso negado: 'c:\\programdata\\anaconda3\\lib\\site-packages\\numpy\\compat\\py3k.py'
Consider using the `--user` option or check the permissions.

In [4]:
!pip install pandas --user

Requirement already satisfied: pandas in c:\users\moise\appdata\roaming\python\python37\site-packages (1.3.4)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Collecting numpy>=1.17.3; platform_machine != "aarch64" and platform_machine != "arm64" and python_version < "3.10" (from pandas)
  Using cached https://files.pythonhosted.org/packages/f1/ef/df6ce4d461fa592ae88bd271c3c944f428a2029840ae63ef3e3cd5ef4fde/numpy-1.21.3-cp37-cp37m-win_amd64.whl
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Installing collected packages: numpy
Successfully installed numpy-1.21.3

ERROR: yellowbrick 1.3.post1 has requirement numpy<1.20,>=1.16.0, but you'll have numpy 1.21.3 which is incompatible.
  WARNING: The script f2py.exe is installed in 'C:\Users\moise\AppData\Roaming\Python\Python37\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

In [1]:
import pandas as pd

In [2]:
#electricity_producion_general = pd.DataFrame()
electricity_producion = pd.read_csv('data/Electricity_Production_By_Source.csv')

In [3]:
electricity_producion.rename(columns={'Electricity from coal (TWh)'     :  'Electricity_from_coal_TWh', 
                                      'Electricity from gas (TWh)'      :  'Electricity_from_gas_TWh',
                                      'Electricity from hydro (TWh)'    :  'Electricity_from_hydro_TWh',
                                      'Electricity from other renewables (TWh)': 'Electricity_from_other_renewables_TWh',
                                      'Electricity from solar (TWh)'    :  'Electricity_from_solar_TWh',
                                      'Electricity from oil (TWh)'      :  'Electricity_from_oil_TWh',
                                      'Electricity from wind (TWh)'     :  'Electricity_from_wind_TWh',
                                      'Electricity from nuclear (TWh)'  :  'Electricity_from_nuclear_TWh'}, 
                             inplace=True)

In [4]:
electricity_producion.shape, electricity_producion.columns

((6241, 11), Index(['Entity', 'Code', 'Year', 'Electricity_from_coal_TWh',
        'Electricity_from_gas_TWh', 'Electricity_from_hydro_TWh',
        'Electricity_from_other_renewables_TWh', 'Electricity_from_solar_TWh',
        'Electricity_from_oil_TWh', 'Electricity_from_wind_TWh',
        'Electricity_from_nuclear_TWh'],
       dtype='object'))

<ul>
    <li>Entity                                     (País)</li>
    <li>Code                                       (Código País)</li>
    <li>Year                                       (Ano)</li>
    <li>Electricity from coal (TWh)                (por Carvão)</li>
    <li>Electricity from gas (TWh)                 (por Gás)</li>
    <li>Electricity from hydro (TWh)               (por Hidro ou água)</li>
    <li>Electricity from other renewables (TWh)    (por outras energias renováveis)</li>
    <li>Electricity from solar (TWh)               (por Solar)</li>
    <li>Electricity from oil (TWh)                 (por Óleo ou Petróleo)</li>
    <li>Electricity from wind (TWh)                (por Vento)</li>
    <li>Electricity from nuclear (TWh)             (Nuclear)</li>
</ul>

In [5]:
electricity_producion.head(5)

,Entity,Code,Year,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

## Limpando os Dados

### Preenchendo os nulos

In [11]:
electricity_producion.isnull().sum()

Entity                                   0
Year                                     0
Electricity_from_coal_TWh                0
Electricity_from_gas_TWh                 0
Electricity_from_hydro_TWh               0
Electricity_from_other_renewables_TWh    0
Electricity_from_solar_TWh               0
Electricity_from_oil_TWh                 0
Electricity_from_wind_TWh                0
Electricity_from_nuclear_TWh             0
dtype: int64

In [7]:
# Atribuindo valor 0 aos valores NaN (ausentes)
electricity_producion['Electricity_from_coal_TWh'].fillna( 0 , inplace=True) # Atualiza Informação
electricity_producion['Electricity_from_gas_TWh'].fillna(  0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_hydro_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_other_renewables_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_solar_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_oil_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_wind_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação
electricity_producion['Electricity_from_nuclear_TWh'].fillna( 0 , inplace=True ) # Atualiza Informação

In [10]:
#Exclui atributo categório
electricity_producion.drop(columns=['Code'], inplace=True)

In [13]:
electricity_producion.shape

(6241, 10)

In [15]:
electricity_producion.describe()

,Year,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
count,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000,6241.000000
mean,2005.509534,119.506384,63.137545,53.165487,5.818491,2.014825,21.843347,6.316172,46.874202
std,9.299156,653.767501,314.940881,257.725337,32.246281,21.726406,101.273813,51.570081,227.223144
min,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2000.000000,0.000000,0.000000,0.018000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2007.000000,0.000000,0.002458,1.957000,0.009000,0.000000,0.362000,0.000000,0.000000
75%,2013.000000,8.607580,16.258000,14.061000,0.673000,0.009000,5.360034,0.049057,0.000000
max,2020.000000,9345.340997,5943.112329,4355.041636,702.887552,844.385951,1364.578206,1590.189440,2720.674471

In [169]:
#mask = electricity_producion.isnull().any(axis=1)
#electricity_producion[mask].Code.head(200)

#electricity_producion.iloc[:,3:].describe()

#electricity_producion.Entity.value_counts(dropna=True)

In [164]:
#selected_rows = electricity_producion[electricity_producion.isnull().any(axis=1)]

#selected_rows = electricity_producion[electricity_producion['Electricity_from_coal_TWh'].isna()]

In [18]:
#electricity_producion.loc[electricity_producion['Entity']=='Algeria', 'Electricity_from_hydro_TWh']

In [16]:
#electricity_producion.groupby(['Entity']).size().reset_index(name='counts')

In [17]:
# Dando update nos valores da coluna Code
#electricity_producion.update(electricity_producion['Code'].fillna(1))

In [51]:
# Contanto ocorrências de idade média
#electricity_producion['Entity'].loc[electricity_producion['Entity'] == 'Brazil'].count()

In [ ]:
electricity_producion.update(electricity_producion['Code'].fillna(1))

In [35]:
country = electricity_producion.groupby(['Entity']).size().reset_index(name='counts')['Entity']

def updating( value ):
    electricity_producion.loc[electricity_producion['Entity'] == '{0}'.format(value), 'Electricity_from_coal_TWh'] = electricity_producion.query('Entity == "{0}"'.format(value))['Electricity_from_hydro_TWh'].mean()

map(updating, country)

In [177]:
frames = []

#country = pd.Series( (v[0] for v in [['Afghanistan'],['Africa']]) ) 
country = electricity_producion.groupby(['Entity']).size().reset_index(name='counts')['Entity']

def particion( value ):
    print('Entrou')
    table = electricity_producion.query('Entity == "{0}"'.format(value)) # Particiona Dataframe
    print(table)
    if table.empty == False: # Se o DataFrame não for vazio
        table['Electricity_from_coal_TWh'].fillna( round(table['Electricity_from_coal_TWh'].mean() , 3) , inplace=True) # Atualiza Informação
        table['Electricity_from_gas_TWh'].fillna(  round(table['Electricity_from_gas_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_hydro_TWh'].fillna( round(table['Electricity_from_hydro_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_other_renewables_TWh'].fillna( round(table['Electricity_from_other_renewables_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_solar_TWh'].fillna( round(table['Electricity_from_solar_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_oil_TWh'].fillna( round(table['Electricity_from_oil_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_wind_TWh'].fillna( round(table['Electricity_from_wind_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        table['Electricity_from_nuclear_TWh'].fillna( round(table['Electricity_from_nuclear_TWh'].mean() , 3) , inplace=True ) # Atualiza Informação
        frames.append(table) # Copia a lista
        del table # Exclui partição 
        
        
list(map(particion, country))

electricity_producion_general = pd.concat(frames)    
frames.clear()