In [2]:
import pandas as pd

In [3]:
electricity_producion = pd.read_csv('data/Electricity_Production_By_Source.csv')

In [4]:
electricity_producion.rename(columns={'Electricity from coal (TWh)'     :  'Electricity_from_coal_TWh', 
                                      'Electricity from gas (TWh)'      :  'Electricity_from_gas_TWh',
                                      'Electricity from hydro (TWh)'    :  'Electricity_from_hydro_TWh',
                                      'Electricity from other renewables (TWh)': 'Electricity_from_other_renewables_TWh',
                                      'Electricity from solar (TWh)'    :  'Electricity_from_solar_TWh',
                                      'Electricity from oil (TWh)'      :  'Electricity_from_oil_TWh',
                                      'Electricity from wind (TWh)'     :  'Electricity_from_wind_TWh',
                                      'Electricity from nuclear (TWh)'  :  'Electricity_from_nuclear_TWh'}, 
                             inplace=True)

In [5]:
electricity_producion.shape, electricity_producion.columns

((6241, 11),
 Index(['Entity', 'Code', 'Year', 'Electricity_from_coal_TWh',
        'Electricity_from_gas_TWh', 'Electricity_from_hydro_TWh',
        'Electricity_from_other_renewables_TWh', 'Electricity_from_solar_TWh',
        'Electricity_from_oil_TWh', 'Electricity_from_wind_TWh',
        'Electricity_from_nuclear_TWh'],
       dtype='object'))

<ul>
    <li>Entity                                     (País)</li>
    <li>Code                                       (Código País)</li>
    <li>Year                                       (Ano)</li>
    <li>Electricity from coal (TWh)                (por Carvão)</li>
    <li>Electricity from gas (TWh)                 (por Gás)</li>
    <li>Electricity from hydro (TWh)               (por Hidro ou água)</li>
    <li>Electricity from other renewables (TWh)    (por outras energias renováveis)</li>
    <li>Electricity from solar (TWh)               (por Solar)</li>
    <li>Electricity from oil (TWh)                 (por Óleo ou Petróleo)</li>
    <li>Electricity from wind (TWh)                (por Vento)</li>
    <li>Electricity from nuclear (TWh)             (Nuclear)</li>
</ul>

In [7]:
electricity_producion.head(5)

,Entity,Code,Year,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [18]:
electricity_producion.isnull().sum()

Entity                                      0
Code                                        0
Year                                        0
Electricity_from_coal_TWh                1020
Electricity_from_gas_TWh                 1020
Electricity_from_hydro_TWh                  0
Electricity_from_other_renewables_TWh      35
Electricity_from_solar_TWh                  0
Electricity_from_oil_TWh                 1020
Electricity_from_wind_TWh                   0
Electricity_from_nuclear_TWh                0
dtype: int64

In [47]:
#mask = electricity_producion.isnull().any(axis=1)
#electricity_producion[mask].Code.head(200)

#electricity_producion.iloc[:,3:].describe()

#electricity_producion.Entity.value_counts(dropna=True)

In [68]:
#selected_rows = electricity_producion[electricity_producion.isnull().any(axis=1)]

selected_rows = electricity_producion[electricity_producion['Electricity_from_coal_TWh'].isna()]

In [15]:
#electricity_producion.loc[electricity_producion['Entity']=='Algeria', 'Electricity_from_hydro_TWh']

In [86]:
electricity_producion.query('Entity == "Algeria"')['Electricity_from_hydro_TWh'].mean()

0.24372942857142854

In [16]:
#electricity_producion.groupby(['Entity']).size().reset_index(name='counts')

In [17]:
# Dando update nos valores da coluna Code
electricity_producion.update(electricity_producion['Code'].fillna(1))

In [22]:
# Contanto ocorrências de idade média
electricity_producion['Entity'].loc[electricity_producion['Entity'] == 'Brazil'].count()

36

In [28]:
electricity_producion.loc[electricity_producion['Entity'] == 'Afghanistan', 'Electricity_from_coal_TWh'] = 1

In [29]:
electricity_producion.query('Entity == "Afghanistan"')

,Entity,Code,Year,Electricity_from_coal_TWh,Electricity_from_gas_TWh,Electricity_from_hydro_TWh,Electricity_from_other_renewables_TWh,Electricity_from_solar_TWh,Electricity_from_oil_TWh,Electricity_from_wind_TWh,Electricity_from_nuclear_TWh
0,Afghanistan,AFG,2000,1.0,0.155,0.312,0.0,0.0000,0.0,0.00000,0.0
1,Afghanistan,AFG,2001,1.0,0.094,0.498,0.0,0.0000,0.0,0.00000,0.0
2,Afghanistan,AFG,2002,1.0,0.132,0.555,0.0,0.0000,0.0,0.00000,0.0
3,Afghanistan,AFG,2003,1.0,0.309,0.630,0.0,0.0000,0.0,0.00000,0.0
4,Afghanistan,AFG,2004,1.0,0.329,0.565,0.0,0.0000,0.0,0.00000,0.0
5,Afghanistan,AFG,2005,1.0,0.344,0.590,0.0,0.0000,0.0,0.00000,0.0
6,Afghanistan,AFG,2006,1.0,0.200,0.637,0.0,0.0000,0.0,0.00000,0.0
7,Afghanistan,AFG,2007,1.0,0.198,0.748,0.0,0.0000,0.0,0.00000,0.0
8,Afghanistan,AFG,2008,1.0,0.186,0.542,0.0,0.0000,0.0,0.00001,0.0
9,Afghanistan,AFG,2009,1.0,0.162,0.776,0.0,0.0000,0.0,0.00010,0.0
10,Afghanistan,AFG,2010,1.0,0.185,0.751,0.0,0.0002,0.0,0.00010,0.0
11,Afghanistan,AFG,2011,1.0,0.252,0.595,0.0,0.0002,0.0,0.00010,0.0
12,Afghanistan,AFG,2012,1.0,0.174,0.710,0.0,0.0280,0.0,0.00000,0.0
13,Afghanistan,AFG,2013,1.0,0.218,0.855,0.0,0.0300,0.0,0.00000,0.0
14,Afghanistan,AFG,2014,1.0,0.154,0.968,0.0,0.0320,0.0,0.00000,0.0
15,Afghanistan,AFG,2015,1.0,0.144,1.001,0.0,0.0330,0.0,0.00000,0.0
16,Afghanistan,AFG,2016,1.0,0.150,1.025,0.0,0.0350,0.0,0.00000,0.0
17,Afghanistan,AFG,2017,1.0,0.168,1.050,0.0,0.0380,0.0,0.00000,0.0
18,Afghanistan,AFG,2018,1.0,0.150,0.928,0.0,0.0370,0.0,0.00000,0.0
19,Afghanistan,AFG,2019,1.0,0.152,0.840,0.0,0.0400,0.0,0.00000,0.0

0.0